/* font families  */
/* Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

/* navbar  */
nav {
    /* position: fixed; */
    width: 100%;
    /* border: 1px solid black; */
    height: 90px;
    background: #F4F5F7;
}
.logo{
    display: flex;
}
nav header{
    font-size: 25px;
    line-height: 50px;
    /* font-style: italic; */
    font-family: Kanit;
    color: #215238;
    text-transform: uppercase;
}
nav img{
    width: 40px;
    height: auto;
    transform: rotate(15deg);
    position: relative;
    left: 10px;
}
/* nav a link  */
nav p {
    overflow: hidden;
    position: absolute;
    top: 25px;
    left: 50px;
    color: rgb(173, 173, 34);
    font-family: Oswald;
    font-size: 18px;
    cursor: pointer;
}
  
  nav p::before,
  nav p::after {
   content: '';
    position: absolute;
    width: 96%;
    left: 0;
  }
  nav p::before {
    background-color: #23593C;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
 nav  p::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #23593C;
  }
  
  nav p:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
 nav  p:hover::after {
    transform: translate3d(0, 0, 0);
  }
  
 nav  p span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
 nav  p:hover span {
    transform: translate3d(-200%, 0, 0);
  }

.links{
    position: relative;
    float: right;
    top: -25px;
    margin-right: 20px;
}
.links a{
    text-decoration: none;
    color: #23593C;
    font-family: oswald;
    padding: 10px;
    text-transform: capitalize;
    display: inline;
}

.menu{
    font-size: 30px !important;
    cursor: pointer;
    position: relative;
    top: 10px;
    transition: 0.5s;
}
#donate-btn{
    background: #F4F5F7;
    color: #215238;
    border: 1px solid #215238;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 200px;
    font-size: 15px;
    cursor: pointer;
}
#donate-btn:hover{
    background: #215238;
    color: #F4F5F7;
    transition: 1s;
}
main{position: relative; top: -10px;}

.menu-links{
    width: 100%;
    height: 0px;
    z-index: 1;
    position: relative;
    top: -10px;
    /* box-shadow: 5px 5px 5px black; */
    margin: auto;
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    overflow: hidden;
    /* transition: 0.3s; */
}
.menu-links a{
    color: #215238;
    text-decoration: none;
    font-family: oswald;
    padding: 10px;
}
/* links underline animation  */
.hover-underline-animation {
    display: inline-block;
    margin: auto;
    position: relative;
    /* left: 40%; */
    color:#215238;
    font-family: poppins;
    cursor: pointer;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
  /*  size is zero  */
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    right: 0;
    background-color: #215238;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* res menu on nav  */
#nodisplay-1{display: none;}
#nodisplay-2{display:none;}
#nodisplay-3{display: none;}
#nodisplay-4{display: none;}
.nodisplay-5{display: none;}

@media (max-width:930px){
    #mymessage{display: none;}
    #nodisplay-1{display: block;}
}
@media (max-width:830px){
    #help{display: none;}
    #nodisplay-2{display: block;}
}
@media (max-width: 745px){
    #how{display: none;}
    #nodisplay-3{display: block;}
}
@media (max-width: 630px){
    #why{display: none;}
    #nodisplay-4{display: block;}
}
@media (max-width: 530px){
    .nodisplay-5{display: block; margin-top: 10px;}
    .donatebutton{display: none;}
}
@media (max-width: 440px){
    nav header{font-size: 18px}
    nav p{font-size: 15px; left: 13px; padding: 5px;}
    .menu{font-size: 15px; top: -10px;}
}
#cross{display: none;}